<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>BT Account</span>
    <div style="margin: auto; display:flex; align-items: center;">
      <mat-icon>attach_money</mat-icon>
      <span> {{ currentExchangeRate | async }}</span>
    </div>
    <mat-icon>notifications_none</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="/" mat-button class="main-nav-link">
      <mat-icon routerLink="/">home</mat-icon>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>